#classifications{
    padding:10px;
    margin-top: 200px;
    margin-left: 700px;
    margin-right: 200px;
    margin-bottom: 200px; 
    color: black;
    font-size: x-large;
}

.rank{
    display: inline-block;
    width: 100px;
    color:black;
    margin-left: 20px;
    text-align: center;
}
.rankLine{
    width: 400px;
    height: 30px;
    padding: 10px;
    background-color:green;
    border:1px solid black;
    display:inline-block;
    color:green;
    font-family:verdana;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%
}
