#gameBoard{
    padding-top: 40px;
    margin: auto;
    flex-direction:row;
    width: 700px;
    height: 800px;
    
}
.board{
    background-color:black;
    width: 515px;
    height: 515px;
    
}
.gameState{
    float: right;
    display: flex;
    flex-wrap: nowrap;
    width: 120px;
    height: 230px;
    display: inline;

    
}
.diskState{
    display: flex;
    
}
.numDiskState{
    font-size: large;
    padding: 10px;
    align-self: center;
    color: black;
}
.messageBoard{
    background-color: lightgray;
    display:flex;
    flex-direction: row;
    width: 515px;
    height: 70px;
    margin-bottom: 5px;
}
.diskMessage{
    width: 60px;
    height: 60px;
}
.turnState{
    position: relative;
    left: 5px;
    bottom: 5px;
}
.cell{
    width:  60px;
    height: 60px;
    background-color: green;
    margin-right: 5px;
    margin-top: 5px;;
    margin-left: 5px;
    margin-bottom: 5px;
}
.black{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    display:block;
    background-color: black;
    margin-left:auto;
    margin-right: auto;
}    
.white{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    display:block;
    background-color:white ;
    margin-left:auto;
    margin-right: auto;

}
.available{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    display:block;
    margin-left:auto;
    margin-right: auto;
    border:2px solid grey;
}

.NotAvailable{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    display:block;
    margin-left:auto;
    margin-right: auto;
} 
#giveUpButton{
    background-color: red;
    color: white;
    position: relative;
    float: right;
}