.overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.637);
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
}
.overlay-content{
    color: #444;
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay .closebtn{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    text-decoration: none;
    color: black;
}


.ov-collapsible{
  padding: 0;
  width: 55%;
  text-align: center;
  font-size: 20px;
  border: 1px hidden; 
  border-radius: 20px; 
  cursor: pointer;
}
.ov-collapsible:hover{
  background-color:#125712;
  color: whitesmoke;
}

.ov-content-collapsible{
  padding:1%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 0.5%;
  margin-bottom: 2px;
  width: 50%;
  font-size: 20px;
  display: none;
  overflow: auto; 
  color:black;
  background-color: whitesmoke;
 
}
.ov-content-collapsible ul{
  padding-left: 5%;
}
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}