.row{
    margin-top: 8%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
}
.column {
    flex: 33.33%;
    padding: 0;
    z-index: 1;
}

  
 
.row::after {
    content: "";
    clear: both;
    display: table;
}

